@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/CeraPro-Bold.woff");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/CeraPro-Medium.woff");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/CeraPro-Regular.woff");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-bold-webfont.woff");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-medium-webfont.woff");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-regular-webfont.woff");
  font-weight: 400;
  font-style: normal; }
.header {
  height: 457px;
  padding: 0px;
  margin: 0px; }

.header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 457px;
  position: relative;
  overflow: hidden; }

.header__menu {
  background: rgba(255, 255, 255, 0.85);
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  position: relative;
  z-index: 10; }

.header__logo {
  width: 120px;
  height: 16px;
  margin: 36px 0 0 22px; }

.header__menu h2 {
  position: absolute;
  top: 66px;
  left: 15px;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 100%;
  color: #000;
  font-family: "Cera Pro";
  letter-spacing: 0.03em; }

.header__menu h4 {
  font-style: normal;
  font-weight: 500;
  font-family: Cera Pro;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: 0.04em;
  color: #000;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  margin-top: 162px;
  text-align: right;
  position: relative;
  height: 100px; }
  .header__menu h4::before {
    content: "of";
    font-family: Cera Pro;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 0.04em;
    color: #000;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-writing-mode: vertical-lr;
        -ms-writing-mode: tb-lr;
            writing-mode: vertical-lr;
    position: absolute;
    top: 25px;
    right: -1px; }

.header__background-img {
  position: absolute;
  width: 100%;
  height: 457px;
  left: 0px;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1; }

.header__icons {
  margin-top: 87px;
  margin-left: 4px; }

.header__icon {
  margin-left: 11px; }

.header__icons--first {
  margin-right: 15px; }

.header__icons--last {
  margin-right: 10px; }

.header__icons {
  cursor: pointer; }

.header__language {
  font-family: Cera Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  position: absolute;
  top: 411px;
  left: 24px;
  cursor: pointer;
  display: none; }
  .header__language::after {
    content: url("../img/arrow-down.png");
    width: 5px;
    height: 5px;
    margin-left: 2px;
    position: absolute;
    left: 17px;
    top: -2px; }

.header__info {
  background: #fff;
  position: relative;
  z-index: 10; }

.header__logo-right {
  width: 50px;
  height: auto;
  margin: 29px 12px 0px 8px; }

.header__store {
  font-family: Cera Pro;
  font-size: 16px;
  line-height: 18px;
  color: #000;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  position: absolute;
  top: 126px;
  left: -49px;
  height: 120px; }
  .header__store::after {
    content: "2020";
    font-family: Cera Pro;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: #000;
    position: absolute;
    left: 121px; }

.header__language--mobile {
  font-family: Cera Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  position: absolute;
  top: 405px;
  left: 30px;
  cursor: pointer; }
  .header__language--mobile::after {
    content: url("../img/arrow-down.png");
    width: 5px;
    height: 5px;
    margin-left: 2px;
    position: absolute;
    left: 15px;
    top: -2px; }

.main {
  width: 100%;
  margin: 0 auto;
  margin-top: 78px; }

.main__title {
  position: relative; }

.main__title h2 {
  font-family: Cera Pro;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  color: #000000;
  margin-left: 15px; }

.main__title h6 {
  font-family: Cera Pro;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  position: absolute;
  left: 8px;
  top: 127px; }

.main__title h4 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 120.4%;
  color: #292929;
  width: 270px;
  margin-top: 30px;
  margin-left: 46px; }

.main__catalog {
  margin-top: 117px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 185px;
  background: #F6FBFE;
  position: relative; }

.main__background-img {
  margin-top: -21px;
  margin-left: 2.5px; }

.main__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.main__number--first {
  font-family: Cera Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 30px;
  color: #000000;
  margin-right: 21px;
  margin-top: 18px;
  display: block;
  position: absolute;
  right: -5px; }
  .main__number--first::before {
    content: "2";
    right: 29px;
    position: absolute; }
  .main__number--first::after {
    content: "";
    background: #000000;
    position: absolute;
    width: 1px;
    height: 15px;
    right: 17px;
    top: 9px; }

.main__text {
  font-family: Cera Pro;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #000000;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  position: absolute;
  top: 18px; }

.main__ul {
  margin-top: 79px;
  margin-left: 3px; }

.main__li {
  list-style-type: none;
  margin-bottom: 15px;
  position: relative;
  font-family: Cera Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: #000000; }

.main__li::before {
  content: url("../img/icon_completed.png");
  position: absolute;
  left: -27px;
  top: 1px;
  width: 8px;
  height: 6px; }

.main__close {
  font-family: Cera Pro;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 30px;
  color: #000000;
  margin-top: 52px;
  margin-left: 15px;
  position: relative;
  cursor: pointer; }

.main__close::after {
  content: url("../img/icon_close.png");
  position: absolute;
  top: -7px;
  left: 63px;
  width: 10px;
  height: 10px; }

.catalog {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  margin-top: 106px; }

.catalog__title {
  width: 220px;
  font-family: Cera Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
  color: #000000;
  margin-left: 15px; }

.catalog__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
  margin-top: 30px;
  position: relative; }

.catalog__text {
  font-family: Cera Pro;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 30px;
  color: #000000;
  margin-right: 48px;
  position: relative; }

.catalog__size {
  margin-left: 30px; }

.catalog__size::before {
  content: "size";
  font-family: Cera Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 30px;
  color: #808080;
  position: absolute;
  left: -30px;
  top: 0px; }

.catalog__size::after {
  content: url("../img/gray-arrow-down.png");
  position: absolute;
  left: 40px;
  top: -1px; }

.catalog__style::before {
  content: "style";
  font-family: Cera Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 30px;
  color: #808080;
  position: absolute;
  left: -36px;
  top: 0px; }

.catalog__style {
  margin-left: 16px; }

.catalog__style::after {
  content: url("../img/black-arrow-down.png");
  position: absolute;
  left: 44px;
  top: -1px; }

.catalog__color {
  margin-left: 17px; }

.catalog__color::before {
  content: "color";
  font-family: Cera Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 30px;
  color: #808080;
  position: absolute;
  left: -38px;
  top: 0px; }

.catalog__color::after {
  content: url("../img/black-arrow-down.png");
  position: absolute;
  left: 33px;
  top: -2px; }

.catalog__collection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  margin-top: 30px; }

.catalog__background-img {
  margin-left: 2.5px; }

.catalog__stories {
  position: absolute;
  top: 490px;
  left: 192px;
  font-family: Cera Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #000000; }

.catalog__block {
  width: 170px;
  margin-top: 73px;
  margin-left: 126px; }

.catalog__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 25px 58px 0px; }

.catalog__button {
  width: 10px;
  height: 10px;
  border: none;
  background: #EEDBD5;
  margin-right: 14px;
  position: relative; }
  .catalog__button:before {
    content: url("../img/border-button.png");
    position: absolute;
    top: -5px;
    left: -4px;
    opacity: 0; }
  .catalog__button:hover:before {
    opacity: 1; }
  .catalog__button:focus:before {
    opacity: 1; }

.catalog__button--blue {
  background: #82BDCF; }

.catalog__button--red {
  background: #9C1744; }

.catalog__about {
  text-align: center;
  margin-top: 19px;
  font-family: Cera Pro;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #000000; }

.catalog__price {
  margin-top: 15px;
  text-align: center;
  font-family: Cera Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #000000; }

.catalog__vertical-text {
  position: absolute;
  font-family: Cera Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #000000;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  top: 659px;
  left: 286px;
  width: 100px; }

.colors {
  max-width: 360px;
  width: 100%;
  margin: 0 auto;
  margin: 80px 15px;
  position: relative; }

.colors__title {
  font-family: Cera Pro;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #000000;
  margin: 80px 0 0 15px; }

.colors__text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 132.4%;
  color: #292929;
  width: 270px;
  margin: 32px 0px 0px 46px; }

.colors__vervical-text {
  font-family: Cera Pro;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #000000;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  position: absolute;
  top: 178px;
  left: 5px; }

.colors__gallery {
  margin-top: 121px;
  position: relative; }

.colors__gallery-title {
  margin-left: 46px;
  width: 270px;
  font-family: Cera Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
  color: #000000;
  position: relative; }
  .colors__gallery-title::after {
    content: "some text will be here";
    font-family: Cera Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    text-align: right;
    color: #000000;
    right: -29px;
    bottom: -19px;
    position: absolute; }

.colors__red-block {
  width: 133px;
  height: 50px;
  background: #9A0034;
  position: absolute;
  left: 195px;
  top: 212px; }
  .colors__red-block::after {
    position: absolute;
    content: "#9A0034";
    font-family: Cera Pro;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.03em;
    color: #000000;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    top: -63px;
    left: 115px; }

.colors__lilac-block {
  position: absolute;
  width: 70px;
  height: 50px;
  left: 75px;
  top: 314px;
  background: #E8D8D9; }
  .colors__lilac-block::after {
    content: "#E8D8D9";
    position: absolute;
    font-family: Cera Pro;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    top: 64px; }

.colors__pink-block {
  position: absolute;
  width: 70px;
  height: 50px;
  left: 176px;
  top: 314px;
  background: #D7969E; }
  .colors__pink-block::after {
    content: "#D7969E";
    position: absolute;
    font-family: Cera Pro;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    top: 64px; }

.colors__gray-block {
  position: absolute;
  width: 70px;
  height: 50px;
  left: 15px;
  top: 476px;
  background: #898989; }
  .colors__gray-block::after {
    content: "#898989";
    position: absolute;
    font-family: Cera Pro;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    top: 64px; }

.colors__black-gray-block {
  position: absolute;
  width: 70px;
  height: 50px;
  left: 275px;
  top: 396px;
  background: #DEDCDC; }

.colors__lite-gray-block {
  position: absolute;
  width: 70px;
  height: 50px;
  left: 115px;
  top: 559px;
  background: #B7B7B7; }
  .colors__lite-gray-block::after {
    content: "#B7B7B7";
    position: absolute;
    font-family: Cera Pro;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    top: 64px; }

.colors__black-block {
  position: absolute;
  width: 70px;
  height: 50px;
  left: 215px;
  top: 559px;
  background: #000; }
  .colors__black-block::after {
    content: "bright";
    font-family: Cera Pro;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #000000;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    position: absolute;
    bottom: -19px;
    right: -75px; }

@media (min-width: 345px) {
  .catalog {
    max-width: 360px;
    width: 100%;
    margin: 0 auto;
    margin-top: 106px; }

  .catalog__description {
    margin-left: 15px; }

  .catalog__text {
    margin-right: 56px; }

  .colors {
    max-width: 360px;
    width: 100%;
    margin: 0 auto; } }
@media (min-width: 360px) {
  .header__background-img {
    -o-object-fit: contain;
       object-fit: contain; } }
@media (min-width: 767px) {
  .header__logo {
    margin: 45px 0 0 40px; }

  .header__menu h2 {
    left: 42px;
    top: 83px; }

  .header__menu h4 {
    margin-left: 45px;
    margin-top: 170px; }

  .header__icons {
    margin-left: 30px;
    margin-top: 87px; }

  .header__icons--first {
    margin-right: 47px; }

  .header__background-img {
    opacity: 0; }

  .header__logo-right {
    margin: 44px 34px 0 0; }

  .header__language {
    display: unset;
    position: relative;
    top: 1px;
    margin-left: 27px;
    font-size: 14px; }

  .header__store {
    top: 149px;
    left: -58px; }

  .header__language::after {
    left: 13px;
    top: -3px; }

  .header__language--mobile {
    display: none; }

  .main {
    margin-top: 114px; }

  .main__title h2 {
    margin-left: 400px; }

  .main__title h6 {
    top: 31px;
    margin-left: 25px;
    font-size: 14px; }

  .main__title h4 {
    margin-left: 459px;
    width: 263px;
    margin-top: 45px;
    line-height: 116.4%; }

  .main__catalog {
    margin-top: 58px;
    height: 240px; }

  .main__background-img {
    margin-top: -70px;
    margin-left: 15px; }

  .main__text {
    top: 54px;
    margin-left: 71px;
    font-size: 14px; }

  .main__ul {
    margin-top: 49px;
    margin-left: 138px; }

  .main__li {
    font-size: 13px; }

  .main__li::before {
    left: -28px; }

  .main__li--last {
    margin-top: 30px; }

  .main__number--first {
    margin-top: 66px;
    right: 14px; }
    .main__number--first::after {
      width: 1px;
      height: 15px;
      right: 17px;
      top: 9px; }

  .main__close {
    margin-top: 103px;
    margin-left: 90px; }

  .catalog {
    max-width: 768px;
    width: 100%;
    margin: 0 auto;
    margin-top: 118px; }

  .catalog__title {
    margin-left: 400px; }

  .catalog__color::after {
    top: -1px; }

  .catalog__stories {
    position: relative;
    left: 164px;
    top: 3px; }

  .catalog__text {
    margin-right: 56px; }

  .catalog__description {
    margin-left: 100px;
    margin-top: 35px; }

  .catalog__collection {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }

  .catalog__background-img {
    margin-left: 6.5px; }

  .catalog__block {
    margin-top: 2px;
    margin-left: 92px; }

  .catalog__buttons {
    margin: 22px 56px 0px; }

  .catalog__vertical-text {
    top: 178px;
    left: 658px;
    width: 125px;
    font-size: 14px; }

  .colors {
    max-width: 768px;
    width: 100%;
    margin: 0 auto;
    margin-top: 98px; }

  .colors__title {
    margin-left: 401px; }

  .colors__text {
    margin: 50px 0px 0px 463px;
    width: 268px;
    line-height: 123.4%;
    font-size: 13px;
    font-family: Cera Pro; }

  .colors__vervical-text {
    top: 93px;
    left: 29px;
    font-size: 16px; }

  .colors__gallery {
    margin-top: 67px; }

  .colors__gallery-title {
    margin-left: 91px; }
    .colors__gallery-title::after {
      right: -10px;
      bottom: -19px; }

  .colors__red-block {
    width: 190px;
    height: 51px;
    left: 521px;
    top: 126px; }
    .colors__red-block::after {
      font-size: 14px;
      top: -71px;
      left: 170px; }

  .colors__pink-block {
    left: 402px;
    top: 254px; }

  .colors__black-gray-block {
    left: 601px;
    top: 337px; }

  .colors__lilac-block {
    left: 501px;
    top: 337px; }

  .colors__gray-block {
    left: 91px;
    top: 362px; }

  .colors__lite-gray-block {
    left: 191px;
    top: 445px; }

  .colors__lite-gray-block::after {
    left: 1px; }

  .colors__black-block {
    left: 291px;
    top: 445px; }
    .colors__black-block::after {
      font-size: 14px;
      left: 430px;
      bottom: -42px; } }
@media (min-width: 959px) {
  .header {
    height: 530px; }

  .header-inner {
    height: 530px; }

  .header__menu {
    width: 460px; }

  .header__logo {
    margin: 31px 0 0 92px;
    width: 100px;
    height: 13px; }

  .header__menu h2 {
    left: 91px;
    width: 290px;
    top: 80px;
    font-size: 48px;
    line-height: 100%; }

  .header__menu h4 {
    margin-left: 94px;
    margin-top: 186px;
    font-weight: 500;
    font-size: 14px; }
    .header__menu h4::before {
      top: 20px;
      right: 1px; }

  .header__icons {
    margin: 145px 61px 0px 82px; }

  .header__background-img {
    opacity: 1;
    left: -3px;
    height: 530px; }

  .header__language {
    top: -6px;
    margin-left: 29px; }

  .header__icons--first {
    margin-right: 43px; }

  .header__icon {
    margin-left: 12px; }

  .header__info {
    width: 228px; }

  .header__logo-right {
    margin: 31px 0px 0px 72px;
    width: 60px;
    height: 15px; }

  .header__store {
    top: 172px;
    left: 25px; }

  .main {
    margin-top: 99px; }

  .main__title h2 {
    margin-left: 490px;
    font-size: 24px;
    line-height: 30px; }

  .main__title h6 {
    top: 38px;
    margin-left: 75px; }

  .main__title h4 {
    width: 290px;
    margin-left: 570px;
    margin-top: 64px;
    font-family: Cera Pro;
    line-height: 122.4%; }

  .main__catalog {
    height: 243px;
    margin-top: 27px; }

  .main__background-img {
    margin-top: -95px;
    margin-left: 23px; }

  .main__text {
    top: 72px;
    margin-left: 92px; }

  .main__ul {
    margin-top: 68px;
    margin-left: 178px; }

  .main__li::before {
    left: -28px; }

  .main__li--last {
    margin-top: 30px; }

  .main__number--first {
    margin-top: 15px;
    right: 80px; }

  .main__close {
    margin-top: 88px;
    margin-left: 110px; }

  .catalog {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    margin-top: 145px; }

  .catalog__title {
    margin-left: 490px;
    font-size: 36px;
    line-height: normal; }

  .catalog__stories {
    position: relative;
    left: 224px;
    top: 0px; }

  .catalog__description {
    margin-left: 170px;
    margin-top: 0px; }

  .catalog__collection {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }

  .catalog__buttons {
    margin: 17px 56px 0px; }

  .catalog__background-img {
    margin-left: 15px; }

  .catalog__block {
    margin-top: 0;
    margin-left: 110px; }

  .catalog__vertical-text {
    top: 177px;
    left: 788px;
    width: 125px; }

  .colors {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    margin-top: 97px; }

  .colors__title {
    margin-left: 489px;
    font-size: 24px; }

  .colors__vervical-text {
    top: 99px;
    left: 77px;
    font-size: 16px; }

  .colors__text {
    margin: 56px 0px 0px 569px;
    width: 307px;
    line-height: 126.4%;
    font-size: 14px;
    font-family: Cera Pro; }

  .colors__gallery {
    margin-top: 60px; }

  .colors__gallery-title {
    margin-left: 139px;
    font-size: 36px;
    line-height: normal; }

  .colors__gallery-title::after {
    right: -50px;
    bottom: -7px;
    font-size: 14px; }

  .colors__red-block {
    width: 210px;
    left: 649px;
    top: 126px; }
    .colors__red-block::after {
      left: 170px; }

  .colors__pink-block {
    width: 90px;
    left: 489px;
    top: 265px; }
    .colors__pink-block::after {
      left: 1px; }

  .colors__lilac-block {
    left: 609px;
    top: 348px;
    width: 90px; }

  .colors__black-gray-block {
    left: 729px;
    top: 348px;
    width: 90px; }

  .colors__gray-block {
    left: 139px;
    top: 366px;
    width: 80px; }

  .colors__lite-gray-block {
    left: 249px;
    top: 449px;
    width: 80px; }

  .colors__black-block {
    left: 359px;
    width: 90px;
    top: 449px; }
    .colors__black-block::after {
      left: 488px;
      bottom: -43px; } }
@media (min-width: 1365px) {
  .header {
    height: 810px; }

  .header-inner {
    height: 810px; }

  .header__logo {
    margin: 29px 0 0 96px;
    width: 120px;
    height: 16px; }

  .header__menu {
    width: 691px;
    -webkit-backdrop-filter: blur(12px);
            backdrop-filter: blur(12px); }

  .header__menu h2 {
    top: 135px;
    font-size: 71px;
    letter-spacing: 0.03em;
    left: 96px;
    line-height: 73px; }

  .header__menu h4 {
    margin-left: 96px;
    margin-top: 324px; }

  .header__menu h4::before {
    top: 20px;
    right: 1px; }

  .header__icons {
    margin: 254px 0px 0px 83px; }

  .header__language {
    margin-left: 170px; }

  .header__background-img {
    height: 810px;
    -o-object-fit: cover;
       object-fit: cover;
    left: 14px; }

  .header__icons--first {
    margin-right: 65px; }

  .header__info {
    width: 272px; }

  .header__logo-right {
    margin: 29px 0px 0px 107px;
    width: 65px;
    height: 20px; }

  .header__store {
    top: 272px;
    left: 68px; }

  .header__store::after {
    left: 120px; }

  .main {
    margin-top: 150px; }

  .main__title h2 {
    margin-left: 696px;
    font-size: 30px; }

  .main__title h6 {
    top: 27px;
    margin-left: 81px;
    font-size: 15px; }

  .main__title h4 {
    margin-left: 796px;
    margin-top: 58px;
    width: 375px;
    font-size: 17px;
    font-family: Montserrat;
    line-height: 112.4%; }

  .main__catalog {
    height: 243px;
    margin-top: 113px;
    height: 330px; }

  .main__background-img {
    margin-top: -194px;
    margin-left: 26px;
    width: 520px;
    height: 720px; }

  .main__text {
    top: 112px;
    margin-left: 102px; }

  .main__ul {
    margin-top: 107px;
    margin-left: 208px; }

  .main__li::before {
    left: -28px;
    top: 2px; }

  .main__li--last {
    margin-top: 60px; }

  .main__number--first {
    margin-top: 50px;
    right: 80px; }

  .main__close {
    margin-top: 137px;
    margin-left: 120px; }

  .catalog {
    max-width: 1366px;
    width: 100%;
    margin: 0 auto;
    margin-top: 288px; }

  .catalog__title {
    margin-left: 696px;
    font-size: 56px;
    line-height: 70px;
    width: 470px; }

  .catalog__stories {
    left: 492px;
    font-size: 16px;
    line-height: 18px; }

  .catalog__description {
    margin-left: 164px;
    margin-top: -6px; }

  .catalog__text {
    margin-left: 60px;
    font-size: 14px;
    line-height: 30px; }

  .catalog__background-img {
    margin-left: 16px; }

  .catalog__block {
    margin-left: 130px;
    width: 280px; }

  .catalog__buttons {
    margin-top: 17px;
    margin-left: 102px; }

  .catalog__about {
    width: 277px;
    font-size: 14px;
    line-height: 18px;
    margin-top: 22px; }

  .catalog__vertical-text {
    top: 326px;
    left: 1190px;
    width: 130px;
    font-size: 16px;
    line-height: 20px; }

  .colors {
    max-width: 1366px;
    width: 100%;
    margin: 0 auto;
    margin-top: 150px; }

  .colors__title {
    margin-left: 696px;
    font-size: 30px; }

  .colors__vervical-text {
    top: 100px;
    left: 83px; }

  .colors__text {
    margin: 57px 0px 0px 800px;
    line-height: 123.4%;
    font-size: 16px;
    width: 325px; }

  .colors__gallery {
    margin-top: 51px; }

  .colors__gallery-title {
    margin-left: 145px;
    font-size: 56px;
    line-height: normal;
    width: 434px; }

  .colors__gallery-title::after {
    right: 13px;
    bottom: -20px;
    font-size: 16px; }

  .colors__red-block {
    width: 280px;
    left: 986px;
    top: 147px;
    height: 70px; }

  .colors__red-block::after {
    left: 240px; }

  .colors__pink-block {
    width: 130px;
    left: 696px;
    top: 271px;
    height: 60px; }

  .colors__pink-block::after {
    top: 75px; }

  .colors__lilac-block {
    left: 856px;
    top: 366px;
    width: 130px;
    height: 60px; }

  .colors__lilac-block::after {
    top: 74px; }

  .colors__black-gray-block {
    left: 1016px;
    top: 365px;
    width: 130px;
    height: 60px; }

  .colors__gray-block {
    left: 146px;
    top: 365px;
    width: 130px;
    height: 60px; }

  .colors__gray-block::after {
    top: 69px; }

  .colors__lite-gray-block {
    left: 306px;
    top: 453px;
    width: 130px;
    height: 60px; }

  .colors__black-block {
    left: 466px;
    width: 130px;
    top: 453px;
    height: 60px; }

  .colors__lite-gray-block::after {
    top: 69px; }

  .colors__black-block {
    left: 466px;
    width: 130px;
    top: 453px;
    height: 60px; }
    .colors__black-block::after {
      left: 790px;
      bottom: -32px;
      font-size: 16px; } }
@media (min-width: 1439px) {
  .header__menu {
    width: 732.52px; }

  .header__logo {
    margin: 30px 0 0 140px; }

  .header__menu h2 {
    left: 139px; }

  .header__menu h4 {
    margin-left: 139px;
    margin-top: 323px; }

  .header__icons {
    margin: 253px 0px 0px 126px; }

  .header__background-img {
    left: 19px; }

  .header__logo-right {
    margin: 30px 0px 0px 105px; }

  .header__info {
    width: 304px; }

  .header__store {
    top: 272px;
    left: 64px; }

  .main__title h2 {
    margin-left: 735px;
    font-size: 30px; }

  .main__title h6 {
    top: 25px;
    margin-left: 119px;
    font-size: 16px; }

  .main__title h4 {
    margin-left: 835px;
    margin-top: 57px;
    width: 352px; }

  .main__catalog {
    height: 243px;
    margin-top: 114px;
    height: 330px; }

  .main__background-img {
    margin-top: -197px;
    margin-left: 31px;
    width: 520px;
    height: 720px; }

  .main__text {
    top: 112px;
    margin-left: 111px; }

  .main__ul {
    margin-top: 107px;
    margin-left: 217px; }

  .main__li::before {
    left: -28px;
    top: 2px; }

  .main__number--first {
    margin-top: 50px;
    right: 115px; }

  .main__close {
    margin-top: 148px;
    margin-left: 125px; }

  .catalog {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    margin-top: 288px; }

  .catalog__title {
    margin-left: 735px; }

  .catalog__buttons {
    margin-left: 109px;
    margin-top: 20px; }

  .catalog__description {
    margin-left: 204px; }

  .catalog__text {
    margin-left: 59px; }

  .catalog__background-img {
    margin-left: 23px; }

  .catalog__stories {
    left: 495px; }

  .catalog__block {
    margin-left: 127px; }

  .catalog__vertical-text {
    top: 326px;
    left: 1229px; }

  .colors {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    margin-top: 150px; }

  .colors__title {
    margin-left: 735px; }

  .colors__vervical-text {
    left: 122px; }

  .colors__text {
    margin: 57px 0px 0px 839px;
    line-height: 128.4%;
    font-size: 15px;
    width: 340px; }

  .colors__gallery {
    margin-top: 49px; }

  .colors__gallery-title {
    margin-left: 185px; }

  .colors__gallery-title::after {
    right: 14px;
    bottom: -21px; }

  .colors__red-block {
    left: 1025px;
    top: 158px; }

  .colors__pink-block {
    left: 735px;
    top: 273px; }

  .colors__lilac-block {
    left: 895px;
    top: 368px; }

  .colors__black-gray-block {
    left: 1055px;
    top: 367px; }

  .colors__gray-block {
    left: 185px;
    top: 367px; }

  .colors__lite-gray-block {
    left: 345px;
    top: 455px; }

  .colors__black-block {
    left: 505px;
    top: 455px; }

  .colors__gallery-vervical-text {
    bottom: -376px;
    right: -956px; } }
@media (min-width: 1485px) {
  .header__background-img {
    -o-object-fit: contain;
       object-fit: contain; } }
@media (min-width: 1919px) {
  .header {
    height: 1065px; }

  .header-inner {
    height: 1065px; }

  .header__menu {
    display: none; }

  .header__info {
    display: none; }

  .header__background-img {
    left: 0;
    height: 1065px;
    -o-object-fit: cover;
       object-fit: cover; }

  .main {
    margin-top: 231px; }

  .main__title h2 {
    margin-left: 870px; }

  .main__title h6 {
    top: 28px;
    margin-left: 135px; }

  .main__title h4 {
    margin-left: 990px;
    margin-top: 53px;
    width: 350px; }

  .main__catalog {
    margin-top: 155px;
    height: 420px; }

  .main__background-img {
    margin-top: -253px;
    margin-left: 33px;
    width: 640px;
    height: 882px; }

  .main__text {
    top: 146px;
    margin-left: 134px; }

  .main__ul {
    margin-top: 141px;
    margin-left: 260px; }

  .main__li::before {
    left: -28px;
    top: 2px; }

  .main__li--last {
    margin-top: 35px; }

  .main__number--first {
    margin-top: 28px;
    right: 341px; }

  .main__close {
    margin-top: 221px;
    margin-left: 152px; }

  .catalog {
    max-width: 1820px;
    width: 100%;
    margin: 0 auto;
    margin-top: 325px; }

  .catalog__title {
    margin-left: 820px; }

  .catalog__description {
    margin-left: 224px;
    margin-top: -8px; }

  .catalog__stories {
    left: 520px; }

  .catalog__stories {
    left: 680px;
    top: 5px; }

  .catalog__background-img {
    margin-left: 17px; }

  .catalog__block {
    margin-left: 150px;
    width: 330px;
    margin-top: 7px; }

  .catalog__buttons {
    margin: 52px 134px 0px; }

  .catalog__about {
    width: 277px;
    margin-left: 28px; }

  .catalog__vertical-text {
    top: 323px;
    left: 1434px; }

  .colors {
    max-width: 1820px;
    width: 100%;
    margin: 0 auto;
    margin-top: 83px; }

  .colors__title {
    margin-left: 819px; }

  .colors__vervical-text {
    left: 88px; }

  .colors__text {
    margin: 57px 0px 0px 941px;
    line-height: 128.4%; }

  .colors__gallery-title {
    margin-left: 150px; }

  .colors__gallery-title::after {
    right: 34px;
    bottom: -22px; }

  .colors__red-block {
    left: 1228px;
    top: 151px; }

  .colors__pink-block {
    left: 939px;
    top: 264px; }

  .colors__lilac-block {
    left: 1099px;
    top: 359px; }

  .colors__black-gray-block {
    left: 1259px;
    top: 359px; }

  .colors__gray-block {
    left: 223px;
    top: 355px; }

  .colors__gray-block::after {
    top: 63px;
    left: -4px; }

  .colors__lite-gray-block {
    left: 381px;
    top: 442px; }

  .colors__black-block {
    left: 541px;
    top: 442px; }

  .colors__black-block::after {
    left: 958px;
    bottom: -36px; } }

/*# sourceMappingURL=style.css.map */