// h1 
//     color: green
//     font-family: "Cera Pro", Montserrat
//     margin: 15px
//     padding: 15px
//     border: 1px solid black 
//     width: 30px
//     writing-mode: vertical-lr
// .t1 
//     transform: rotateX(180deg) rotateY(180deg) 
.header
    height: 457px
    padding: 0px
    margin: 0px
.header-inner
    display: flex
    justify-content: space-between
    width: 100%
    height: 457px
    position: relative
    overflow: hidden
.header__menu
    background: rgba(255, 255, 255, 0.85)
    backdrop-filter: blur(40px)
    position: relative
    z-index: 10
.header__logo
    width: 120px
    height: 16px
    margin: 36px 0 0 22px
.header__menu h2 
    position: absolute
    top: 66px
    left: 15px
    font-style: normal
    font-weight: bold
    font-size: 42px
    line-height: 100%
    color: #000
    font-family: 'Cera Pro'
    letter-spacing: 0.03em
.header__menu h4 
    font-style: normal
    font-weight: 500
    font-family: Cera Pro
    font-size: 13px
    line-height: 100%
    letter-spacing: 0.04em
    color: #000
    transform: rotate(180deg)
    writing-mode: vertical-lr
    margin-top: 162px
    text-align: right
    position: relative
    height: 100px
    &::before
        content: "of"
        font-family: Cera Pro
        font-style: normal
        font-weight: 500
        font-size: 13px
        line-height: 100%
        letter-spacing: 0.04em
        color: #000
        transform: rotate(0deg)
        writing-mode: vertical-lr
        position: absolute
        top: 25px
        right: -1px
.header__background-img
    position: absolute
    width: 100%
    height: 457px
    left: 0px
    object-fit: cover
    z-index: 1
.header__icons
    margin-top: 87px
    margin-left: 4px
.header__icon
    margin-left: 11px
.header__icons--first
    margin-right: 15px
.header__icons--last
    margin-right: 10px
.header__icons
    cursor: pointer
.header__language
    font-family: Cera Pro
    font-style: normal
    font-weight: normal
    font-size: 16px
    line-height: 18px
    position: absolute
    top: 411px
    left: 24px
    cursor: pointer
    display: none
    &::after
        content: url('../img/arrow-down.png')
        width: 5px
        height: 5px
        margin-left: 2px
        position: absolute
        left: 17px
        top: -2px
.header__info
    background: #fff
    position: relative
    z-index: 10
.header__logo-right
    width: 50px
    height: auto
    margin: 29px 12px 0px 8px
.header__store
    font-family: Cera Pro
    font-size: 16px
    line-height: 18px
    color: #000
    transform: rotate(90deg)

    position: absolute
    top: 126px
    left: -49px
    height: 120px
    &::after
        content: "2020"
        font-family: Cera Pro
        font-style: normal
        font-weight: 500
        font-size: 16px
        line-height: 18px
        color: #000
        position: absolute
        left: 121px
.header__language--mobile
    font-family: Cera Pro
    font-style: normal
    font-weight: normal
    font-size: 16px
    line-height: 18px
    position: absolute
    top: 405px
    left: 30px
    cursor: pointer
    &::after
        content: url('../img/arrow-down.png')
        width: 5px
        height: 5px
        margin-left: 2px
        position: absolute
        left: 15px
        top: -2px
.main
    width: 100%
    margin: 0 auto
    margin-top: 78px
.main__title
    position: relative
.main__title h2 
    font-family: Cera Pro
    font-style: normal
    font-weight: 500
    font-size: 22px
    line-height: 28px
    color: #000000
    margin-left: 15px
.main__title h6
    font-family: Cera Pro
    font-style: normal
    font-weight: 500
    font-size: 12px
    line-height: 15px
    color: #000000
    transform: rotate(-90deg)
    position: absolute
    left: 8px
    top: 127px
.main__title h4
    font-family: Montserrat
    font-style: normal
    font-weight: normal
    font-size: 14px
    line-height: 120.4%
    color: #292929
    width: 270px
    margin-top: 30px
    margin-left: 46px
.main__catalog
    margin-top: 117px
    display: flex
    width: 100%
    height: 185px
    background: #F6FBFE
    position: relative
.main__background-img
    margin-top: -21px
    margin-left: 2.5px
.main__number
    display: flex
.main__number--first
    font-family: Cera Pro
    font-style: normal
    font-weight: normal
    font-size: 13px
    line-height: 30px
    color: #000000

    margin-right: 21px
    margin-top: 18px
    display: block

    position: absolute
    right: -5px
    &::before
        content: "2"
        right: 29px
        position: absolute
    &::after
        content: ""
        background: #000000
        position: absolute
        width: 1px
        height: 15px
        right: 17px
        top: 9px
.main__text
    font-family: Cera Pro
    font-style: normal
    font-weight: 500
    font-size: 12px
    line-height: 15px
    letter-spacing: 0.03em
    text-transform: uppercase
    color: #000000
    transform: rotate(-90deg)
    position: absolute
    top: 18px
.main__ul
    margin-top: 79px
    margin-left: 3px
.main__li
    list-style-type: none
    margin-bottom: 15px
    position: relative
    font-family: Cera Pro
    font-style: normal
    font-weight: normal
    font-size: 12px
    line-height: 20px
    letter-spacing: 0.03em
    color: #000000

.main__li::before
    content: url('../img/icon_completed.png')
    position: absolute
    left: -27px
    top: 1px
    width: 8px
    height: 6px
.main__close
    font-family: Cera Pro
    font-style: normal
    font-weight: 500
    font-size: 13px
    line-height: 30px
    color: #000000
    margin-top: 52px
    margin-left: 15px
    position: relative
    cursor: pointer
.main__close::after
    content: url('../img/icon_close.png')
    position: absolute
    top: -7px
    left: 63px
    width: 10px
    height: 10px
.catalog
    max-width: 1920px
    width: 100%
    margin: 0 auto
    margin-top: 106px
.catalog__title
    width: 220px
    font-family: Cera Pro
    font-style: normal
    font-weight: bold
    font-size: 32px
    line-height: 40px
    color: #000000
    margin-left: 15px
.catalog__description
    display: flex
    align-items: center
    margin-left: 10px
    margin-top: 30px
    position: relative
.catalog__text
    font-family: Cera Pro
    font-style: normal
    font-weight: 500
    font-size: 13px
    line-height: 30px
    color: #000000
    margin-right: 48px
    position: relative
.catalog__size
    margin-left: 30px
.catalog__size::before
    content: "size"
    font-family: Cera Pro
    font-style: normal
    font-weight: normal
    font-size: 13px
    line-height: 30px
    color: #808080
    position: absolute
    left: -30px
    top: 0px
.catalog__size::after
    content: url('../img/gray-arrow-down.png')
    position: absolute
    left: 40px
    top: -1px
.catalog__style::before
    content: "style"
    font-family: Cera Pro
    font-style: normal
    font-weight: normal
    font-size: 13px
    line-height: 30px
    color: #808080
    position: absolute
    left: -36px
    top: 0px
.catalog__style
    margin-left: 16px
.catalog__style::after
    content: url('../img/black-arrow-down.png')
    position: absolute
    left: 44px
    top: -1px
.catalog__color
    margin-left: 17px
.catalog__color::before
    content: "color"
    font-family: Cera Pro
    font-style: normal
    font-weight: normal
    font-size: 13px
    line-height: 30px
    color: #808080
    position: absolute
    left: -38px
    top: 0px
.catalog__color::after
    content: url('../img/black-arrow-down.png')
    position: absolute
    left: 33px
    top: -2px
.catalog__collection
    display: flex
    flex-direction: column
    position: relative
    margin-top: 30px
.catalog__background-img
    margin-left: 2.5px
.catalog__stories
    position: absolute
    top: 490px
    left: 192px
    font-family: Cera Pro
    font-style: normal
    font-weight: normal
    font-size: 14px
    line-height: 16px
    color: #000000
.catalog__block
    width: 170px
    margin-top: 73px
    margin-left: 126px
.catalog__buttons 
    display: flex
    width: 100%
    margin: 25px 58px 0px
.catalog__button
    width: 10px
    height: 10px    
    border: none
    background: #EEDBD5
    margin-right: 14px
    position: relative
    &:before
        content: url('../img/border-button.png')
        position: absolute
        top: -5px
        left: -4px
        opacity: 0
    &:hover:before
        opacity: 1
    &:focus:before
        opacity: 1
.catalog__button--blue
    background: #82BDCF
.catalog__button--red
    background: #9C1744
.catalog__about
    text-align: center
    margin-top: 19px
    font-family: Cera Pro
    font-style: normal
    font-weight: 300
    font-size: 12px
    line-height: 15px
    text-align: center
    letter-spacing: 0.05em
    text-transform: uppercase
    color: #000000
.catalog__price
    margin-top: 15px
    text-align: center
    font-family: Cera Pro
    font-style: normal
    font-weight: normal
    font-size: 14px
    line-height: 18px
    color: #000000
.catalog__vertical-text
    position: absolute
    font-family: Cera Pro
    font-style: normal
    font-weight: normal
    font-size: 12px
    line-height: 15px
    letter-spacing: 0.04em
    text-transform: uppercase
    color: #000000
    transform: rotate(-90deg)
    top: 659px
    left: 286px
    width: 100px
.colors 
    max-width: 360px
    width: 100%
    margin: 0 auto
    margin: 80px 15px
    position: relative
.colors__title
    font-family: Cera Pro
    font-style: normal
    font-weight: 500
    font-size: 22px
    line-height: 28px
    letter-spacing: 0.03em
    color: #000000
    margin: 80px 0 0 15px
.colors__text
    font-family: Montserrat
    font-style: normal
    font-weight: normal
    font-size: 12px
    line-height: 132.4%
    color: #292929
    width: 270px
    margin: 32px 0px 0px 46px
.colors__vervical-text
    font-family: Cera Pro
    font-style: normal
    font-weight: 500
    font-size: 12px
    line-height: 15px
    letter-spacing: 0.03em
    text-transform: uppercase
    color: #000000
    transform: rotate(-90deg)
    position: absolute
    top: 178px
    left: 5px
.colors__gallery
    margin-top: 121px
    position: relative
.colors__gallery-title
    margin-left: 46px
    width: 270px
    font-family: Cera Pro
    font-style: normal
    font-weight: bold
    font-size: 32px
    line-height: 40px
    color: #000000
    position: relative
    &::after
        content: "some text will be here"
        font-family: Cera Pro
        font-style: normal
        font-weight: normal
        font-size: 13px
        line-height: 18px
        text-align: right
        color: #000000
        right: -29px
        bottom: -19px
        position: absolute
.colors__red-block
    width: 133px
    height: 50px
    background: #9A0034
    position: absolute
    left: 195px
    top: 212px
    &::after
        position: absolute
        content: '#9A0034'
        font-family: Cera Pro
        font-style: normal
        font-weight: 500
        font-size: 12px
        line-height: 15px
        letter-spacing: 0.03em
        color: #000000
        transform: rotate(-90deg)
        top: -63px
        left: 115px
.colors__lilac-block
    position: absolute
    width: 70px
    height: 50px
    left: 75px
    top: 314px
    background: #E8D8D9
    &::after
        content: '#E8D8D9'
        position: absolute
        font-family: Cera Pro
        font-style: normal
        font-weight: 500
        font-size: 14px
        line-height: 18px
        color: #000000
        top: 64px
.colors__pink-block
    position: absolute
    width: 70px
    height: 50px
    left: 176px
    top: 314px
    background: #D7969E
    &::after
        content: '#D7969E'
        position: absolute
        font-family: Cera Pro
        font-style: normal
        font-weight: 500
        font-size: 14px
        line-height: 18px
        color: #000000
        top: 64px
.colors__gray-block
    position: absolute
    width: 70px
    height: 50px
    left: 15px
    top: 476px
    background: #898989
    &::after
        content: '#898989'
        position: absolute
        font-family: Cera Pro
        font-style: normal
        font-weight: 500
        font-size: 14px
        line-height: 18px
        color: #000000
        top: 64px
.colors__black-gray-block
    position: absolute
    width: 70px
    height: 50px
    left: 275px
    top: 396px
    background: #DEDCDC
.colors__lite-gray-block
    position: absolute
    width: 70px
    height: 50px
    left: 115px
    top: 559px
    background: #B7B7B7
    &::after
        content: '#B7B7B7'
        position: absolute
        font-family: Cera Pro
        font-style: normal
        font-weight: 500
        font-size: 14px
        line-height: 18px
        color: #000000
        top: 64px
.colors__black-block
    position: absolute
    width: 70px
    height: 50px
    left: 215px
    top: 559px
    background: #000
    &::after
        content: "bright"
        font-family: Cera Pro
        font-style: normal
        font-weight: 500
        font-size: 12px
        line-height: 18px
        letter-spacing: 0.03em
        text-transform: uppercase
        color: #000000
        transform: rotate(-90deg)
        position: absolute
        bottom: -19px
        right: -75px


