@media (min-width: 360px )
    .header__background-img
        object-fit: contain
@media (min-width: 767px )
    .header__logo
        margin: 45px 0 0 40px
    .header__menu h2 
        left: 40px
        top: 118px
    .header__menu h4
        margin-left: 44px
        margin-top: 174px
    .header__icons
        margin-left: 30px
    .header__icons--first
        margin-right: 47px
    .header__background-img
        opacity: 0
    .header__logo-right
        margin: 44px 34px 0 0
    .header__language
        display: unset
        position: relative
        top: 1px
        margin-left: 27px
        font-size: 14px
    .header__store
        top: 149px
        left: -67px
    .header__language::after 
        left: 13px
        top: -3px
    .header__language--mobile
        display: none  
    .main
        margin-top: 114px
    .main__title h2 
        margin-left: 400px
    .main__title h6
        top: 65px
        margin-left: 25px
        font-size: 14px
    .main__title h4
        margin-left: 459px
        width: 263px
        margin-top: 45px
        line-height: 116.4%
    .main__catalog
        margin-top: 58px
        height: 240px
    .main__background-img 
        margin-top: -70px
        margin-left: 15px
    .main__text
        top: 69px
        margin-left: 71px
        font-size: 14px
    .main__ul
        margin-top: 49px
        margin-left: 138px
    .main__li
        font-size: 13px
    .main__li::before 
        left: -28px
    .main__li--last
        margin-top: 30px
    .main__number--first
        margin-top: 66px
        right: 14px
        &::after
            width: 1px
            height: 15px
            right: 17px
            top: 9px
    .main__close
        margin-top: 103px
        margin-left: 90px
    .catalog
        margin-top: 118px
    .catalog__title
        margin-left: 400px
    .catalog__color::after
        top: -1px
    .catalog__stories
        position: relative
        left: 164px
        top: 3px
    .catalog__text
        margin-right: 56px
    .catalog__description
        margin-left: 100px
        margin-top: 35px
    .catalog__collection
        flex-direction: row
    .catalog__background-img
        margin-left: 6.5px
    .catalog__block
        margin-top: 2px
        margin-left: 92px
    .catalog__buttons
        margin: 26px 55px 0px
    .catalog__vertical-text
        top: 178px
        left: 658px
        width: 125px
        font-size: 14px
    .colors 
        margin: 101px 39px
    .colors__title
        margin-left: 361px
    .colors__text
        margin: 52px 0px 0px 424px
        width: 268px
        line-height: 123.4%
        font-size: 13px
        font-family: Cera Pro
    .colors__vervical-text
        top: 93px
        left: -11px
        font-size: 16px
    .colors__gallery
        margin-top: 67px
    .colors__gallery-title
        margin-left: 51px
        &::after
            right: -10px
            bottom: -19px
    .colors__red-block 
        width: 190px
        height: 51px
        left: 481px
        top: 126px
        &::after
            font-size: 14px
            top: -71px
            left: 170px
    .colors__pink-block
        left: 362px
        top: 253px
    .colors__black-gray-block
        left: 561px
        top: 336px
    .colors__lilac-block
        left: 461px
        top: 336px
    .colors__gray-block
        left: 51px
        top: 361px
    .colors__lite-gray-block
        left: 151px
        top: 444px
    .colors__lite-gray-block::after
        left: 1px
    .colors__black-block
        left: 251px
        top: 444px
    .colors__gallery-vervical-text
        font-size: 14px
        bottom: -430px
        right: -377px
@media (min-width: 959px)
    .header
        height: 530px
    .header-inner
        height: 530px
    .header__menu
        width: 460px
    .header__logo
        margin: 31px 0 0 92px
        width: 100px
        height: 13px
    .header__menu h2 
        left: 91px
        width: 290px
        top: 120px
        font-size: 48px
        line-height: 100%
    .header__menu h4
        margin-left: 95px
        margin-top: 191px
        font-weight: 500
    .header__icons
        margin: 141px 61px 0px 84px
    .header__background-img
        opacity: 1
        left: -3px
        height: 530px
    .header__language
        top: 0px
        margin-left: 29px
    .header__icon 
        margin-left: 10px
    .header__info
        width: 228px
    .header__logo-right
        margin: 31px 0px 0px 72px
        width: 60px
        height: 15px
    .header__store
        top: 172px
        left: 25px
    .main 
        margin-top: 99px
    .main__title h2 
        margin-left: 490px
        font-size: 24px
        line-height: 30px
    .main__title h6
        top: 71px
        margin-left: 75px
    .main__title h4
        width: 290px
        margin-left: 570px
        margin-top: 64px
        font-family: Cera Pro
        line-height: 122.4%
    .main__catalog
        height: 243px
        margin-top: 27px
    .main__background-img
        margin-top: -95px
        margin-left: 23px
    .main__text
        top: 87px
        margin-left: 92px
    .main__ul
        margin-top: 68px
        margin-left: 178px
    .main__li::before 
        left: -28px
    .main__li--last
        margin-top: 30px
    .main__number--first 
        margin-top: 15px
        right: 80px
    .main__close
        margin-top: 88px
        margin-left: 110px
    .catalog
        margin-top: 145px
    .catalog__title
        margin-left: 490px
        font-size: 36px
        line-height: normal
    .catalog__stories
        position: relative
        left: 224px
        top: 0px
    .catalog__description
        margin-left: 170px
        margin-top: 0px
    .catalog__collection
        flex-direction: row
    .catalog__buttons
        margin: 21px 56px 0px
    .catalog__background-img
        margin-left: 15px
    .catalog__block
        margin-top: 0
        margin-left: 110px
    .catalog__vertical-text
        top: 177px
        left: 788px
        width: 125px
    .colors 
        margin: 100px 39px
    .colors__title
        margin-left: 451px
        font-size: 24px
    .colors__vervical-text
        top: 100px
        left: 38px
        font-size: 16px
    .colors__text
        margin: 58px 0px 0px 530px
        width: 307px
        line-height: 126.4%
        font-size: 14px
        font-family: Cera Pro
    .colors__gallery 
        margin-top: 60px        
    .colors__gallery-title 
        margin-left: 100px
        font-size: 36px
        line-height: normal
    .colors__gallery-title::after
        right: -50px
        bottom: -7px
        font-size: 14px
    .colors__red-block
        width: 210px
        left: 610px
        top: 125px
    .colors__pink-block
        width: 90px
        left: 450px
        top: 264px
        &::after
            left: 1px
    .colors__lilac-block 
        left: 570px
        top: 347px
        width: 90px
    .colors__black-gray-block 
        left: 690px
        top: 347px
        width: 90px
    .colors__gray-block 
        left: 100px
        top: 365px
        width: 80px
    .colors__lite-gray-block 
        left: 210px
        top: 448px
        width: 80px
    .colors__black-block 
        left: 320px
        width: 90px
        top: 448px
    .colors__gallery-vervical-text 
        font-size: 14px
        bottom: -425px
        right: -504px
@media (min-width: 1365px)
    .header
        height: 810px
    .header-inner
        height: 810px
    .header__menu
        width: 693px
        backdrop-filter: blur(12px)
    .header__menu h2 
        top: 240px
        font-size: 72px
        letter-spacing: 0.02em
    .header__menu h4
        margin-left: 94px
        margin-top: 350px
    .header__icons 
        margin: 210px 0px 0px 85px
    .header__language
        margin-left: 170px
    .header__background-img
        height: 810px
    .header__info
        width: 268px
    .header__logo-right
        margin: 40px 0px 0px 100px
    .header__store 
        top: 316px
        left: 56px
    .main 
        margin-top: 150px
    .main__title h2 
        margin-left: 700px
    .main__title h6
        top: 51px
        margin-left: 75px
    .main__title h4
        margin-left: 800px
        margin-top: 56px
        width: 308px
    .main__catalog
        height: 243px
        margin-top: 105px
        height: 330px
    .main__background-img
        margin-top: -194px
        margin-left: 26px
        width: 520px
        height: 720px
    .main__text
        top: 127px
        margin-left: 102px
    .main__ul
        margin-top: 102px
        margin-left: 190px
    .main__li::before 
        left: -28px
        top: 2px
    .main__number--first 
        margin-top: 50px
        right: 80px
    .main__close
        margin-top: 140px
        margin-left: 120px
    .catalog
        margin-top: 292px
    .catalog__title
        margin-left: 698px
        font-size: 56px
        line-height: 70px
        width: 470px
    .catalog__stories
        left: 398px
        font-size: 16px
        line-height: 18px
    .catalog__description
        margin-left: 228px
    .catalog__text
        margin-left: 80px
        font-size: 14px
        line-height: 30px
    .catalog__background-img
        margin-left: 15.5px
    .catalog__block
        margin-left: 130px
        width: 280px
    .catalog__buttons 
        margin: 35px 100px 0px
    .catalog__about
        width: 277px
        font-size: 14px
        line-height: 18px
    .catalog__vertical-text
        top: 320px
        left: 1259px
        width: 130px
        font-size: 16px
        line-height: 20px
@media (min-width: 1439px)
    .header__menu
        width: 732.52px
    .header__logo
        margin: 45px 0 0 140px
    .header__menu h2 
        left: 134px
    .header__menu h4
        margin-left: 134px
    .header__icons 
        margin: 210px 0px 0px 126px
    .header__info
        width: 304px
    .main__title h2 
        margin-left: 735px
        font-size: 30px
    .main__title h6
        top: 51px
        margin-left: 115px
    .main__title h4
        margin-left: 835px
        margin-top: 56px
        width: 308px
    .main__catalog
        height: 243px
        margin-top: 105px
        height: 330px
    .main__background-img
        margin-top: -194px
        margin-left: 31px
        width: 520px
        height: 720px
    .main__text
        top: 127px
        margin-left: 114px
    .main__ul
        margin-top: 102px
        margin-left: 210px
    .main__li::before 
        left: -28px
        top: 2px
    .main__number--first 
        margin-top: 50px
        right: 120px
    .main__close
        margin-top: 150px
        margin-left: 132px
    .catalog__title
        margin-left: 735px
    .catalog__description
        margin-left: 235px
    .catalog__background-img
        margin-left: 24px
    .catalog__block
    .catalog__buttons 
    .catalog__about
    .catalog__vertical-text
@media (min-width: 1919px)
    .header__menu
        display: none
    .header__info
        display: none
    .header__background-img
        left: 0
        height: 1159px
        object-fit: cover
    .main
        margin-top: 220px
    .main__title h2 
        margin-left: 975px
    .main__title h6
        top: 51px
        margin-left: 240px
    .main__title h4
        margin-left: 1110px
        margin-top: 56px
        width: 308px
    .main__catalog
        margin-top: 105px
        height: 420px
    .main__background-img
        margin-top: -208px
        margin-left: 52px
        width: 640px 
        height: 882px
    .main__text
        top: 182px
        margin-left: 140px
    .main__ul
        margin-top: 158px
        margin-left: 240px
    .main__li::before 
        left: -28px
        top: 2px
    .main__li--last
        margin-top: 35px
    .main__number--first 
        margin-top: 30px
        right: 245px
    .main__close
        margin-top: 200px
        margin-left: 160px
    .catalog
        margin-top: 330px
    .catalog__title
        margin-left: 975px
    .catalog__description
        margin-left: 409px
    .catalog__stories
        left: 520px
    .catalog__background-img
        margin-left: 41px
    .catalog__block
        margin-left: 150px
        width: 330px
    .catalog__buttons 
        margin: 37px 127px 0px
    .catalog__about
        width: 277px
        margin-left: 25px
    .catalog__vertical-text
        top: 354px
        left: 1560px