@media (min-width: 768px )
    .header__logo
        margin: 45px 0 0 40px
    .header__menu h2 
        left: 38px
    .header__menu h4
        margin-left: 40px 
    .header__icons
        margin-left: 32px
    .header__icons--first
        margin-right: 60px
    .header__background-img
        opacity: 0
    .header__logo-right
        margin: 45px 40px 0 0
    .header__language
        display: unset
        position: relative
        top: 2px
        margin-left: 43px
    .header__language--mobile
        display: none  
@media (min-width: 960px)
    .header
        height: 530px
    .header-inner
        height: 530px
    .header__menu
        width: 465px
    .header__logo
        margin: 45px 0 0 98px
    .header__menu h2 
        left: 94px
        width: 290px
        top: 140px
        font-size: 48px
        line-height: 100%
    .header__menu h4
        margin-left: 92px
        margin-top: 186px
        font-weight: 500
    .header__icons
        margin: 138px 61px 0px 84px
    .header__background-img
        opacity: 1
        left: 50px
        height: 530px
    .header__language
        top: 1px
        margin-left: 22px
    .header__icon 
        margin-left: 13px
    .header__info
        width: 225px
    .header__logo-right
        width: auto
        margin: 40px 0px 0px 70px
    .header__store
        top: 150px
        left: 24px
@media (min-width: 1366px)
    .header
        height: 810px
    .header-inner
        height: 810px
    .header__menu
        width: 693px
        backdrop-filter: blur(12px)
    .header__menu h2 
        top: 240px
        font-size: 72px
        letter-spacing: 0.02em
    .header__menu h4
        margin-left: 94px
        margin-top: 350px
    .header__icons 
        margin: 210px 0px 0px 85px
    .header__language
        margin-left: 170px
    .header__background-img
        height: 810px
    .header__info
        width: 268px
    .header__logo-right
        margin: 40px 0px 0px 100px
    .header__store 
        top: 316px
        left: 56px
@media (min-width: 1440px)
    .header__menu
        width: 732.52px
    .header__logo
        margin: 45px 0 0 140px
    .header__menu h2 
        left: 134px
    .header__menu h4
        margin-left: 134px
    .header__icons 
        margin: 210px 0px 0px 126px
    .header__info
        width: 304px
@media (min-width: 1920px)
    .header__menu
        display: none
    .header__info
        display: none
    .header__background-img
        left: 0
        height: 1159px